@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    display:flex; flex-direction:column; justify-content:center;
    min-height:100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.left{
    margin-right: auto;  
    margin-left: 0;    
}

.outer {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
    border-radius: 25px;
}
.prompt{
    color:#fff;
}
.basicform {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    color: white;
    border-radius: 25px;
}

a, a:visited {
    color: #fff;
}

.dropdown a{
    color: grey;
}

.leaflet-container a {
    color: black;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: black;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

#mapid1 {
    color: red;
}

#mapid1 button {
    margin-top: 0rem;
    padding: 0rem;
} 

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}
.smallprompt{
    color: #fff;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
.photo{
    height: 100px;
    width: 100px; 
}